.gradient-text {
  font-weight: 900;
  background: linear-gradient(
    to right bottom,
    #ff0000,
    #ff6600,
    #ffcc00,
    #33cc33,
    #0066ff,
    #9900cc
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
